.container {
   min-height: 150vh;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    
}



#home-p2-row {
    width: 700px;
    justify-content: center;
    text-align: center;
}

#about-row .col:nth-child(1) {
    
}

#home-p1 {
    text-align: center;
    font-family: monospace;
    letter-spacing: 5px;
    font-size: 40px;
    font-weight: 600;
    margin-top: 3%;
    margin-left: 0%;
    justify-content: center;
}

#home-img {
    align-items:flex-start;
    max-width: 100%;
    margin-left: 0%;
}


#home-p2 {
    max-width: 900px;
    text-align: center;
    font-family: monospace;
    letter-spacing: 3px;
    font-size: 18px;
    font-weight: 500;
    justify-content: center;
    margin-left: 5%;
    background-color: rgb(252, 252, 137);
}

nav {
    padding: 10px;
    max-width: 70%;
    margin-top: 2%;
    margin-left: 20%;
    font-weight: 500;
}
.navbar-collapse .navbar-nav .nav-item .nav-link{
    margin: .3em;
    font-weight: 500px;
    font-size: 1.5em;
    color: rgb(0, 32, 22);
    display: inline-flex;
}
.navbar-collapse .navbar-nav .nav-item:hover{
    color: #FFF;
}

.navbar-collapse .navbar-nav .nav-item:active{
    color: #FFF;
}

.active {
    color: #FFF;
}

#card-row {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: #FFF;
    max-width: 500px;
    padding: 20px;
    font-weight: 500px;
    font-size: large;
    min-height: 40px;
    align-items: center;
    justify-content: center;
    margin-left: 25%;
    
    
}

input {
    border: none;
}


#home-footer {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 500px;
    padding: 10px 0 10px 10px;
   
    color:rgb(0, 56, 37);
    background-color:aquamarine;
    margin-top: 7%;
    align-items: initial;
    margin-left: 25%;
}

#home-footer .col:nth-child(2) {
    margin-left: 30%;
}

.page-wrapper {
    font-family: monospace;
    min-height: 100vh;
    background-color: rgb(191, 255, 234);
}

.wrapper {
    margin: 0 auto;
  }
  
.wrapper--w960 {
    max-width: 960px;
  }

.row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  
  .row-space {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

#cards-row {
    margin-left: 5%;
    margin-top: 5%;
}

#room-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
   
    max-width: 305px;
    align-items: center;
    justify-content: center;
    background-color: #FFF;
    font-size: 1em;
}
#room-card-img {
    width: 300px ;
    max-height: 200px ;
    align-items: center;
    padding: 10px 10px 10px 10px;
    margin: .8%;
}
#room-card p {
    font-size: 1em;
    margin-left: 4%;
    font-weight: 500;
    text-align: start;
}

#room-card-col {
    margin-left: 10%;
    max-width: 100%;
}

#booking-button {
    border-radius: 5px;
    width: 20%;
    font-weight: 600px;
    font-size: large;
    color: #FFF;
    background-color: rgb(0, 41, 27);
    margin-bottom: 4%;
    margin-left: 35%;
}

#about-row {
    display:-moz-grid-group;
    grid-template-rows: 2fr;
    grid-template-columns: 3fr 3fr;
}

#about-img {
    max-width: 140%;
    min-height: 100%;
 }
 
 #about-row {
     margin-left: 20%;
     margin-top: 5%;
 }
 
 #about-row .col:nth-child(2) {
     margin-left: 15%;
     max-width: 50%;
     font-size: large;
 }

#about-button {
    border-radius: 5px;
    font-weight: 700;
    font-size: large;
    color:rgb(8, 44, 5);
    background-color: rgb(145, 255, 0);
    border: none;
    font-stretch: expanded;
    margin-left: 0%;
}

@media(max-width:600px){
    #body {
       display: inline-flex;
       flex-direction: column;
       justify-content: center;
       width: 600px;
    }

    nav {
    width: 100%; 
    align-items: flex-start;
    margin-left: 0;
    justify-content: flex-start;
    }

    nav a {
        justify-content: center;
        font-size: .7em;
        
    }

    #home-p1 {
        margin-top: 2%;
    }

    #home-p2 {
        font-size: 14px;
        justify-content: center;
        font-size: .7em;
        margin-left: 0;
    }

    #home-p2-row {
        font-size: .7em;
        margin-left: 0;
    }

    #img-row {
        justify-content: center;
    }
    
    #card-row {
        margin-left: 0%;
        font-size: .7em;
    }

    #home-footer {
        margin-left: 0;
        font-size: .7em;
    }
    
}